/* STYLES */

body {
    background: rgb(65, 0, 122);
}

main {

}

h1{
    font-family: helvetica;
    font-size: 100px;
    line-height: 110%;
    letter-spacing: -1;
    word-spacing: 10px;
    max-width: 800px;
    color: rgb(255, 200, 0);
    text-transform: uppercase;
}

em{
    color: rgb(255, 223, 107);
}

a {
    color:rgb(255, 120, 120)
}

h2{
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    color: rgb(255, 223, 107);
}

h3{
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    color: rgb(255, 223, 107);
}

h4{
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    color: rgb(255, 223, 107);
}

p{
    font-family: helvetica;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    color: rgb(255, 255, 255);
}

ul{
    font-family: helvetica;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    color: rgb(255, 255, 255);
}